<article class="post">
    <div>
      <a href="/posts/{{id}}">{{title}}</a>
    </div>
    <div class="meta">
      By {{user.username}} on
      {{format_date createdAt}}
      |
      <a class="commentInfo" href="/posts/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
    <div class="postText">
      {{post_text}}
    </div>
  </article>